<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="io.wordii.nlp" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <!-- More information about async here - https://logging.apache.org/log4j/2.x/manual/async.html -->
        <AsyncLogger name="edu.stanford.nlp" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
