<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- More information about async can be found here - https://logging.apache.org/log4j/2.x/manual/async.html -->
        <AsyncLogger name="io.wordii.nlp.client" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <AsyncLogger name="edu.stanford.nlp" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
